In [72]:
import pandas as pd
import gmaps
import gmaps.datasets

In [73]:
df = pd.read_csv("cleaned_intersection.csv")
gmaps.configure(api_key='AIzaSyD21_CW-8IQ6xM7iWmavLVV2e-A0IfbOaA') 
figure_layout = {
    'width': '100px',
    'height': '100px',
    'padding': '1px'
}

In [25]:
uncleaned_df = pd.read_csv("intersection.csv")

In [27]:
uncleaned_df.columns

Index(['OBJECTID', 'Name', 'LOCATION_D', 'STREET_FRO', 'STREET_TO', 'LATITUDE',
       'LONGITUDE', 'LAT_DECIMAL', 'LON_DECIMAL', 'ROUTE_NAME', 'StationType',
       'ROUTE_ID', 'GlobalID', 'Visible', 'AADT_2007', 'AADT_2008',
       'AADT_2009', 'AADT_2010', 'AADT_2011', 'AADT_2012', 'AADT_2013',
       'AADT_2014', 'AADT_2015', 'AADT_2016', 'AADT_2017', 'AADT_2018',
       'AADT_2019', 'Shape', 'AADT_2020', 'HourlyLabel', 'HourlyLink',
       'ATRLabel', 'ATRLink', 'WeeklyLabel', 'WeeklyLink', 'PermanentDivider',
       'JanLabel', 'FebLabel', 'MarLabel', 'AprLabel', 'MayLabel', 'JunLabel',
       'JulLabel', 'AugLabel', 'SepLabel', 'OctLabel', 'NovLabel', 'DecLabel',
       'JanLink', 'FebLink', 'MarLink', 'AprLink', 'MayLink', 'JunLink',
       'JulLink', 'AugLink', 'SepLink', 'OctLink', 'NovLink', 'DecLink',
       'MonthlyLabel'],
      dtype='object')

In [24]:
df.columns

Index(['OBJECTID', 'Name', 'LAT_DECIMAL', 'LON_DECIMAL', 'AADT_2007',
       'AADT_2008', 'AADT_2009', 'AADT_2010', 'AADT_2011', 'AADT_2012',
       'AADT_2013', 'AADT_2014', 'AADT_2015', 'AADT_2016', 'AADT_2017',
       'AADT_2018', 'AADT_2019', 'AADT_2020'],
      dtype='object')

In [11]:
df

,OBJECTID,Name,LAT_DECIMAL,LON_DECIMAL,AADT_2007,AADT_2008,AADT_2009,AADT_2010,AADT_2011,AADT_2012,AADT_2013,AADT_2014,AADT_2015,AADT_2016,AADT_2017,AADT_2018,AADT_2019,AADT_2020
0,3830,31120,36.33,-114.92,26000.0,24000.0,24000.0,25000.0,27000.0,26000.0,25000.0,24500.0,27000.0,29000.0,30000.0,30500.0,31500.0,28900.0
1,3832,31210,36.15,-115.17,264000.0,263000.0,233000.0,254000.0,260000.0,260000.0,261000.0,260000.0,260000.0,260000.0,278000.0,281000.0,288000.0,201000.0
2,3833,31230,36.21,-115.13,118000.0,115000.0,112000.0,125000.0,125000.0,126000.0,126000.0,132000.0,142000.0,145000.0,140000.0,131000.0,148000.0,133000.0
3,3834,31250,36.02,-115.11,128000.0,126000.0,124000.0,122000.0,121000.0,121000.0,122000.0,128000.0,135000.0,139000.0,144000.0,146000.0,148000.0,127000.0
4,3835,32120,36.32,-115.31,11000.0,12000.0,12300.0,12400.0,12500.0,12200.0,12300.0,12500.0,13300.0,14200.0,14500.0,14500.0,15300.0,20900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1260,8438,37216,35.97,-114.90,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35500.0,35000.0
1261,8439,37219,35.95,-114.90,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4900.0,3650.0
1262,8442,37222,35.97,-114.91,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,670.0,390.0
1263,8444,37225,35.97,-114.91,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1850.0,390.0
1264,8447,31183,36.02,-115.14,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,11500.0,9950.0,9000.0

In [12]:
las_vegas_intersection_location = df[['LAT_DECIMAL','LON_DECIMAL']]

In [17]:
las_vegas_intersection_location

      LAT_DECIMAL  LON_DECIMAL
0           36.33      -114.92
1           36.15      -115.17
2           36.21      -115.13
3           36.02      -115.11
4           36.32      -115.31
...           ...          ...
1260        35.97      -114.90
1261        35.95      -114.90
1262        35.97      -114.91
1263        35.97      -114.91
1264        36.02      -115.14

[1265 rows x 2 columns]

In [30]:
info_box_template = """
<dl>
<dt>ID</dt><dd>{}</dd>
<dt>Latitude</dt><dd>{}</dd>
<dt>Longtitude</dt><dd>{}</dd>
<dt>Location</dt><dd>{}</dd>
</dl>
"""

intersection_info = []
for index, row in df.iterrows():
    intersection_info.append(info_box_template.format(row['OBJECTID'],row['LAT_DECIMAL'],row['LON_DECIMAL'],uncleaned_df.iloc[index]['LOCATION_D']))

In [37]:
intersection_layer = gmaps.symbol_layer(
    las_vegas_intersection_location, fill_color='green', stroke_color='green', scale=2 ,info_box_content=intersection_info
)
fig = gmaps.figure(figure_layout)
fig.add_layer(intersection_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
df.columns

Index(['OBJECTID', 'Name', 'LAT_DECIMAL', 'LON_DECIMAL', 'AADT_2007',
       'AADT_2008', 'AADT_2009', 'AADT_2010', 'AADT_2011', 'AADT_2012',
       'AADT_2013', 'AADT_2014', 'AADT_2015', 'AADT_2016', 'AADT_2017',
       'AADT_2018', 'AADT_2019', 'AADT_2020'],
      dtype='object')

In [39]:
input_df = df[['AADT_2007','AADT_2008', 'AADT_2009', 'AADT_2010', 'AADT_2011', 'AADT_2012','AADT_2013', 'AADT_2014', 'AADT_2015', 'AADT_2016', 'AADT_2017','AADT_2018', 'AADT_2019', 'AADT_2020']]

In [40]:
input_df

,AADT_2007,AADT_2008,AADT_2009,AADT_2010,AADT_2011,AADT_2012,AADT_2013,AADT_2014,AADT_2015,AADT_2016,AADT_2017,AADT_2018,AADT_2019,AADT_2020
0,26000.0,24000.0,24000.0,25000.0,27000.0,26000.0,25000.0,24500.0,27000.0,29000.0,30000.0,30500.0,31500.0,28900.0
1,264000.0,263000.0,233000.0,254000.0,260000.0,260000.0,261000.0,260000.0,260000.0,260000.0,278000.0,281000.0,288000.0,201000.0
2,118000.0,115000.0,112000.0,125000.0,125000.0,126000.0,126000.0,132000.0,142000.0,145000.0,140000.0,131000.0,148000.0,133000.0
3,128000.0,126000.0,124000.0,122000.0,121000.0,121000.0,122000.0,128000.0,135000.0,139000.0,144000.0,146000.0,148000.0,127000.0
4,11000.0,12000.0,12300.0,12400.0,12500.0,12200.0,12300.0,12500.0,13300.0,14200.0,14500.0,14500.0,15300.0,20900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1260,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35500.0,35000.0
1261,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4900.0,3650.0
1262,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,670.0,390.0
1263,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1850.0,390.0
1264,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,11500.0,9950.0,9000.0

In [43]:
from sklearn.cluster import KMeans

In [44]:
kmeans = KMeans(3)

In [46]:
kmeans.fit(input_df)

KMeans(n_clusters=3)

In [48]:
identified_clusters = kmeans.fit_predict(input_df)

In [49]:
identified_clusters

array([2, 1, 1, ..., 0, 0, 0])

In [57]:
popularity_df = pd.concat([las_vegas_intersection_location,pd.DataFrame(identified_clusters)],axis=1)

In [59]:
popularity_df.columns  = ['LAT_DECIMAL', 'LON_DECIMAL', 'POPULARITY_CLUSTER']

In [68]:
popularity_cluter_0_df = las_vegas_intersection_location[popularity_df['POPULARITY_CLUSTER'] == 0]
popularity_cluter_1_df = las_vegas_intersection_location[popularity_df['POPULARITY_CLUSTER'] == 1]
popularity_cluter_2_df = las_vegas_intersection_location[popularity_df['POPULARITY_CLUSTER'] == 2]

In [75]:
intersection_layer_cluter_0 = gmaps.symbol_layer(
    popularity_cluter_0_df, fill_color='blue', stroke_color='blue', scale=2
)

intersection_layer_cluter_1 = gmaps.symbol_layer(
    popularity_cluter_1_df, fill_color='yellow', stroke_color='yellow', scale=2
)

intersection_layer_cluter_2 = gmaps.symbol_layer(
    popularity_cluter_2_df, fill_color='red', stroke_color='red', scale=2
)

fig = gmaps.figure()
fig.add_layer(intersection_layer_cluter_0)
fig.add_layer(intersection_layer_cluter_1)
fig.add_layer(intersection_layer_cluter_2)
fig

Figure(layout=FigureLayout(height='420px'))

In [74]:
popularity_cluter_0_df

      LAT_DECIMAL  LON_DECIMAL
4           36.32      -115.31
10          36.10      -114.90
12          36.01      -114.78
14          36.20      -115.22
19          36.23      -115.07
...           ...          ...
1259        35.95      -114.90
1261        35.95      -114.90
1262        35.97      -114.91
1263        35.97      -114.91
1264        36.02      -115.14

[957 rows x 2 columns]

In [80]:
popularity_df = pd.concat([df,pd.DataFrame(identified_clusters)],axis=1)

In [82]:
popularity_df.columns = [   'OBJECTID',        'Name', 'LAT_DECIMAL', 'LON_DECIMAL',
         'AADT_2007',   'AADT_2008',   'AADT_2009',   'AADT_2010',
         'AADT_2011',   'AADT_2012',   'AADT_2013',   'AADT_2014',
         'AADT_2015',   'AADT_2016',   'AADT_2017',   'AADT_2018',
         'AADT_2019',   'AADT_2020',           'POPULARITY_CLUSTER']

In [86]:
popularity_df[popularity_df['POPULARITY_CLUSTER'] == 0]

,OBJECTID,Name,LAT_DECIMAL,LON_DECIMAL,AADT_2007,AADT_2008,AADT_2009,AADT_2010,AADT_2011,AADT_2012,AADT_2013,AADT_2014,AADT_2015,AADT_2016,AADT_2017,AADT_2018,AADT_2019,AADT_2020,POPULARITY_CLUSTER
4,3835,32120,36.32,-115.31,11000.0,12000.0,12300.0,12400.0,12500.0,12200.0,12300.0,12500.0,13300.0,14200.0,14500.0,14500.0,15300.0,20900.0,0
10,3844,33200,36.10,-114.90,2700.0,2500.0,2500.0,2300.0,2200.0,2200.0,2100.0,2150.0,2050.0,2100.0,2400.0,2400.0,2500.0,2500.0,0
12,3846,35220,36.01,-114.78,13000.0,13000.0,13400.0,13700.0,16700.0,16400.0,16600.0,16800.0,18300.0,19800.0,20000.0,15400.0,5100.0,3350.0,0
14,3848,35240,36.20,-115.22,17000.0,16000.0,15500.0,15500.0,14300.0,14000.0,13400.0,13900.0,14600.0,14000.0,15100.0,15400.0,15550.0,11900.0,0
19,3854,35330,36.23,-115.07,0.0,13000.0,12000.0,10000.0,9700.0,9500.0,8800.0,8700.0,9500.0,8500.0,8700.0,8400.0,8950.0,10100.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259,8437,37215,35.95,-114.90,195.0,195.0,195.0,195.0,195.0,195.0,195.0,195.0,195.0,195.0,195.0,195.0,190.0,200.0,0
1261,8439,37219,35.95,-114.90,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4900.0,3650.0,0
1262,8442,37222,35.97,-114.91,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,670.0,390.0,0
1263,8444,37225,35.97,-114.91,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1850.0,390.0,0
1264,8447,31183,36.02,-115.14,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,11500.0,9950.0,9000.0,0

In [87]:
popularity_df[popularity_df['POPULARITY_CLUSTER'] == 2]

,OBJECTID,Name,LAT_DECIMAL,LON_DECIMAL,AADT_2007,AADT_2008,AADT_2009,AADT_2010,AADT_2011,AADT_2012,AADT_2013,AADT_2014,AADT_2015,AADT_2016,AADT_2017,AADT_2018,AADT_2019,AADT_2020,POPULARITY_CLUSTER
0,3830,31120,36.33,-114.92,26000.000000,24000.000000,24000.000000,25000.000000,27000.000000,26000.000000,25000.000000,24500.000000,27000.000000,29000.000000,30000.000000,30500.0,31500.0,28900.0,2
6,3837,32240,36.15,-115.07,42000.000000,42000.000000,42000.000000,41000.000000,41000.000000,38000.000000,38000.000000,41500.000000,39500.000000,39000.000000,41000.000000,42000.0,42000.0,37000.0,2
7,3838,33120,36.07,-115.14,41000.000000,40000.000000,38000.000000,37500.000000,38500.000000,40000.000000,39500.000000,40500.000000,37500.000000,39000.000000,45000.000000,46000.0,46000.0,35000.0,2
8,3840,33150,35.97,-114.88,35000.000000,34000.000000,34000.000000,34000.000000,36000.000000,36000.000000,36000.000000,37000.000000,39500.000000,41000.000000,41500.000000,38000.0,26900.0,23200.0,2
9,3843,33190,36.22,-115.21,32000.000000,29000.000000,27000.000000,26000.000000,27100.000000,27300.000000,25600.000000,25100.000000,23000.000000,24100.000000,25600.000000,25800.0,26300.0,22200.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1134,8256,37022,36.00,-115.18,32500.000000,32500.000000,32500.000000,32500.000000,32500.000000,32500.000000,32500.000000,32500.000000,32500.000000,32500.000000,33000.000000,30500.0,35000.0,31500.0,2
1203,8330,37186,36.11,-115.28,31750.000000,31750.000000,31750.000000,31750.000000,31750.000000,31750.000000,31750.000000,31750.000000,31750.000000,31750.000000,33000.000000,36000.0,33500.0,24500.0,2
1212,8341,37203,35.98,-115.10,26325.000000,26325.000000,26325.000000,26325.000000,26325.000000,26325.000000,26325.000000,26325.000000,26325.000000,26325.000000,30000.000000,29200.0,25000.0,21100.0,2
1215,8350,37015,36.12,-115.09,46833.333333,46833.333333,46833.333333,46833.333333,46833.333333,46833.333333,46833.333333,46833.333333,46833.333333,46833.333333,46833.333333,49500.0,50000.0,41000.0,2
1260,8438,37216,35.97,-114.90,35250.000000,35250.000000,35250.000000,35250.000000,35250.000000,35250.000000,35250.000000,35250.000000,35250.000000,35250.000000,35250.000000,35250.0,35500.0,35000.0,2