In [9]:
import pandas as pd
import gmaps
import gmaps.datasets

In [10]:
df = pd.read_csv("cleaned_intersection.csv")
gmaps.configure(api_key='AIzaSyD21_CW-8IQ6xM7iWmavLVV2e-A0IfbOaA') 
figure_layout = {
    'width': '100px',
    'height': '100px',
    'padding': '1px'
}

In [11]:
df

,OBJECTID,Name,LAT_DECIMAL,LON_DECIMAL,AADT_2007,AADT_2008,AADT_2009,AADT_2010,AADT_2011,AADT_2012,AADT_2013,AADT_2014,AADT_2015,AADT_2016,AADT_2017,AADT_2018,AADT_2019,AADT_2020
0,3830,31120,36.33,-114.92,26000.0,24000.0,24000.0,25000.0,27000.0,26000.0,25000.0,24500.0,27000.0,29000.0,30000.0,30500.0,31500.0,28900.0
1,3832,31210,36.15,-115.17,264000.0,263000.0,233000.0,254000.0,260000.0,260000.0,261000.0,260000.0,260000.0,260000.0,278000.0,281000.0,288000.0,201000.0
2,3833,31230,36.21,-115.13,118000.0,115000.0,112000.0,125000.0,125000.0,126000.0,126000.0,132000.0,142000.0,145000.0,140000.0,131000.0,148000.0,133000.0
3,3834,31250,36.02,-115.11,128000.0,126000.0,124000.0,122000.0,121000.0,121000.0,122000.0,128000.0,135000.0,139000.0,144000.0,146000.0,148000.0,127000.0
4,3835,32120,36.32,-115.31,11000.0,12000.0,12300.0,12400.0,12500.0,12200.0,12300.0,12500.0,13300.0,14200.0,14500.0,14500.0,15300.0,20900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1260,8438,37216,35.97,-114.90,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35250.0,35500.0,35000.0
1261,8439,37219,35.95,-114.90,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4275.0,4900.0,3650.0
1262,8442,37222,35.97,-114.91,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,530.0,670.0,390.0
1263,8444,37225,35.97,-114.91,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1120.0,1850.0,390.0
1264,8447,31183,36.02,-115.14,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,10150.0,11500.0,9950.0,9000.0

In [12]:
las_vegas_intersection_location = df[['LAT_DECIMAL','LON_DECIMAL']]

In [17]:
las_vegas_intersection_location

      LAT_DECIMAL  LON_DECIMAL
0           36.33      -114.92
1           36.15      -115.17
2           36.21      -115.13
3           36.02      -115.11
4           36.32      -115.31
...           ...          ...
1260        35.97      -114.90
1261        35.95      -114.90
1262        35.97      -114.91
1263        35.97      -114.91
1264        36.02      -115.14

[1265 rows x 2 columns]

In [ ]:
info_box_template = """
<dl>
<dt>ID</dt><dd>{}</dd>
<dt>Latitude</dt><dd>{}</dd>
<dt>Longtitude</dt><dd>{}</dd>
<dt>AADT 2007</dt><dd>{}</dd>
<dt>AADT 2008</dt><dd>{}</dd>
<dt>AADT 2009</dt><dd>{}</dd>
</dl>

In [16]:
intersection_layer = gmaps.symbol_layer(
    las_vegas_intersection_location, fill_color='green', stroke_color='green', scale=2
)
fig = gmaps.figure(figure_layout)
fig.add_layer(intersection_layer)
fig

Figure(layout=FigureLayout(height='420px'))